<h3 style="text-align: center;margin-bottom:50px;margin-top:30px;">About Us</h3>
<p style="text-align: center;margin-top: 50px; width: 40%;margin-left:30%;margin-bottom:50px;">The National Board of Revenue (NBR) is the apex authority for tax administration in Bangladesh.
It was established by the father of the nation Bangabandhu Sheikh Mujibur Rahman under
President's Order No. 76 of 1972. Administratively,it is under the Internal Resources Division (IRD)
of the Ministry of Finance (MoF). The Secretary, IRD is the ex-officio Chairman of NBR.
negotiating tax treaties with foreign governments and participating in inter-ministerial
deliberations on economic issues having a bearing on fiscal policies and tax administration.
The main responsibility of NBR is to collect tax revenues (primarily, Value Added Tax, Customs Duty,
 Excise Duty and Income Tax ). It works with three tax-type wings namely, Customs Wing, VAT Wing and
Income Tax Wing. There are two more wings named IT wing and Research & Statistics wing under NBR.</p>
