<div class="container">
    <h2>Welcome to Income Tax Return Submission System</h2>
    <h4>of</h4>
    <h3>National Board of Revenue</h3>
    <img src="../../assets/img/loaded.png" alt="" class="tension">
    <img src="../../assets/img/happy.png" alt="" class="happy">
    <h3 style="margin-top: 30px;">We will take the burden of tax calculation from you</h3>
</div>
<div class="secContainer" style="margin-top: 30px;">
    <h2 style="text-align: center;">Our Services</h2>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Calculation</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/accounting.png" alt="Calculation">
        <mat-card-content>
          <p>
           You will be able to calculate the the amount you need to submit in our system without any hassle. 
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Submission</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/submit.png" alt="Calculation">
        <mat-card-content>
          <p>
           You will be able to submit the return. The days of manual return submission has come to an end. Go Paperless! 
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Payment</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/mobile-payment.png" alt="Calculation">
        <mat-card-content>
          <p>
           You will be able to pay the tax through our system with our secured online payment getway! 
          </p>
        </mat-card-content>
      </mat-card>
</div>